# Install required libraries
To install the required libraries from the requirements file, use the following command:
"pip install -r requirements.txt"

# 0. Initialization

In [70]:
import numpy as np # a library for numerical computations and handling arrays
import pandas as pd #  a library for data manipulation and analysis, often used for handling tabular data

# Visualisation Library
import matplotlib.pyplot as plt # module for data visualization through plots and charts
import seaborn as sns # a data visualization library built on Matplotlib, offering advanced plotting functions and attractive visual styles

# Classification continous
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

# Classification Categorial
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn import svm

# Processing Classification
from sklearn.model_selection import train_test_split
from sklearn import metrics

# avoid displaying warnings
import warnings
warnings.filterwarnings("ignore")

# 1. Collecte the Data

In [71]:
# Load the dataset from the specified path
data = pd.read_csv("../data/G3_immobiliers.csv")

# 2. Data Cleaning and Preparation

In [72]:
# Display the first 10 rows of the dataset to understand its structure
data.head(10)

,id_mutation,date_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,...,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude,section_prefixe
0,2022-1343146,2022-02-04,1,Vente,420000.0,NaN,NaN,LA CADISCIE,B009,81220.0,...,NaN,NaN,T,terres,NaN,NaN,1215.0,1.950729,43.64992,0000A
1,2022-1343521,2022-01-28,1,Vente,1500.0,NaN,NaN,SERRO,B168,81260.0,...,NaN,NaN,P,prés,NaN,NaN,1000.0,2.5195,43.618791,0000C
2,2022-1343592,2022-01-28,2,Vente,105000.0,NaN,NaN,PUECH ROUGE,B026,81170.0,...,NaN,NaN,P,prés,NaN,NaN,3900.0,1.896586,44.044786,0000A
3,2022-1343732,2022-02-10,1,Vente,5000.0,NaN,NaN,FOURMENTAL,B029,81300.0,...,NaN,NaN,T,terres,NaN,NaN,2770.0,2.031586,43.697737,0000B
4,2022-1343732,2022-02-10,1,Vente,5000.0,NaN,NaN,FOURMENTAL,B029,81300.0,...,NaN,NaN,T,terres,NaN,NaN,591.0,2.031218,43.697683,0000B
5,2022-1343755,2022-02-15,1,Vente,31500.0,NaN,NaN,MASCALE BAS,B081,81800.0,...,NaN,NaN,S,sols,NaN,NaN,1762.0,1.667288,43.859966,0000C
6,2022-1343755,2022-02-15,1,Vente,31500.0,NaN,NaN,MASCALE BAS,B081,81800.0,...,NaN,NaN,P,prés,NaN,NaN,5505.0,1.66712,43.85981,0000C
7,2022-1343755,2022-02-15,1,Vente,31500.0,NaN,NaN,MASCALE BAS,B081,81800.0,...,NaN,NaN,S,sols,NaN,NaN,18.0,1.667785,43.859678,0000C
8,2022-1343755,2022-02-15,1,Vente,31500.0,NaN,NaN,MASCALE BAS,B081,81800.0,...,NaN,NaN,S,sols,NaN,NaN,70.0,1.667777,43.859631,0000C
9,2022-1343779,2022-02-11,1,Vente,173000.0,NaN,NaN,BAURUNE,B003,81120.0,...,NaN,NaN,T,terres,NaN,NaN,2022.0,2.087579,43.805298,0000D

In [73]:
# Display dataset information including column names, data types, and missing values
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146215 entries, 0 to 146214
Data columns (total 41 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   id_mutation                   146215 non-null  object
 1   date_mutation                 146215 non-null  object
 2   numero_disposition            146215 non-null  object
 3   nature_mutation               146215 non-null  object
 4   valeur_fonciere               145482 non-null  object
 5   adresse_numero                67801 non-null   object
 6   adresse_suffixe               2927 non-null    object
 7   adresse_nom_voie              146142 non-null  object
 8   adresse_code_voie             146143 non-null  object
 9   code_postal                   146143 non-null  object
 10  code_commune                  146215 non-null  object
 11  nom_commune                   146215 non-null  object
 12  code_departement              146215 non-null  object
 13  ancien_code_commune           10 non-null      object
 14  ancien_nom_commune            10 non-null      object
 15  id_parcelle                   146215 non-null  object
 16  ancien_id_parcelle            10 non-null      object
 17  numero_volume                 255 non-null     object
 18  lot1_numero                   10401 non-null   object
 19  lot1_surface_carrez           3397 non-null    object
 20  lot2_numero                   2775 non-null    object
 21  lot2_surface_carrez           742 non-null     object
 22  lot3_numero                   819 non-null     object
 23  lot3_surface_carrez           284 non-null     object
 24  lot4_numero                   180 non-null     object
 25  lot4_surface_carrez           19 non-null      object
 26  lot5_numero                   96 non-null      object
 27  lot5_surface_carrez           14 non-null      object
 28  nombre_lots                   146215 non-null  object
 29  code_type_local               63640 non-null   object
 30  type_local                    63640 non-null   object
 31  surface_reelle_bati           42035 non-null   object
 32  nombre_pieces_principales     63503 non-null   object
 33  code_nature_culture           134685 non-null  object
 34  nature_culture                134685 non-null  object
 35  code_nature_culture_speciale  20624 non-null   object
 36  nature_culture_speciale       20624 non-null   object
 37  surface_terrain               134685 non-null  object
 38  longitude                     145142 non-null  object
 39  latitude                      145142 non-null  object
 40  section_prefixe               146215 non-null  object
dtypes: object(41)
memory usage: 45.7+ MB

In [74]:
# Get statistical summaries of numerical columns
data.describe()

,id_mutation,date_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,...,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude,section_prefixe
count,146215,146215,146215,146215,145482.0,67801.0,2927,146142,146143,146143.0,...,42035.0,63503.0,134685,134685,20624,20624,134685.0,145142.000000,145142.00000,146215
unique,25492,891,15,6,7244.0,2702.0,11,12527,2290,99.0,...,945.0,32.0,22,22,27,27,14490.0,59856.000000,59338.00000,303
top,2022-1349012,2022-07-12,1,Vente,150000.0,1.0,B,LE VILLAGE,B020,81100.0,...,80.0,0.0,S,sols,FRICH,Friche,500.0,2.773587,43.64924,0000B
freq,480,933,102435,142495,1210.0,1954.0,2131,707,1016,8966.0,...,797.0,18640.0,55206,55206,5250,5250,2690.0,171.000000,171.00000,19936

In [75]:
# Check the total number of missing values in each column
data.isnull().sum()

id_mutation                          0
date_mutation                        0
numero_disposition                   0
nature_mutation                      0
valeur_fonciere                    733
adresse_numero                   78414
adresse_suffixe                 143288
adresse_nom_voie                    73
adresse_code_voie                   72
code_postal                         72
code_commune                         0
nom_commune                          0
code_departement                     0
ancien_code_commune             146205
ancien_nom_commune              146205
id_parcelle                          0
ancien_id_parcelle              146205
numero_volume                   145960
lot1_numero                     135814
lot1_surface_carrez             142818
lot2_numero                     143440
lot2_surface_carrez             145473
lot3_numero                     145396
lot3_surface_carrez             145931
lot4_numero                     146035
lot4_surface_carrez             146196
lot5_numero                     146119
lot5_surface_carrez             146201
nombre_lots                          0
code_type_local                  82575
type_local                       82575
surface_reelle_bati             104180
nombre_pieces_principales        82712
code_nature_culture              11530
nature_culture                   11530
code_nature_culture_speciale    125591
nature_culture_speciale         125591
surface_terrain                  11530
longitude                         1073
latitude                          1073
section_prefixe                      0
dtype: int64

In [76]:
# Drop unnecessary columns that are not useful for predictive modeling
df_data = data.drop(columns=[
    "id_mutation", "numero_disposition", "id_parcelle", "ancien_id_parcelle",
    "ancien_code_commune", "ancien_nom_commune", "numero_volume",
    "lot1_numero", "lot1_surface_carrez", "lot2_numero", "lot2_surface_carrez",
    "lot3_numero", "lot3_surface_carrez", "lot4_numero", "lot4_surface_carrez",
    "lot5_numero", "lot5_surface_carrez"
])

In [77]:
# Convert "valeur_fonciere" column to numeric, forcing errors to NaN
df_data["valeur_fonciere"] = pd.to_numeric(df_data["valeur_fonciere"], errors="coerce")
# Remove rows where "valeur_fonciere" is missing
df_data = df_data.dropna(subset=["valeur_fonciere"])

In [78]:
# Remove rows with more than 50% missing values
df_data = df_data.dropna(thresh=len(df_data.columns) * 0.5)

In [79]:
# Fill missing values in numerical columns with the median
# Convert numerical columns to float type (forcing errors to NaN)
cols_num = ["surface_reelle_bati", "surface_terrain", "nombre_pieces_principales"]
for col in cols_num:
    df_data[col] = pd.to_numeric(df_data[col], errors="coerce")  # Convert to float
    df_data[col] = df_data[col].fillna(df_data[col].median())  # Replace NaN with median

In [80]:
# Fill missing values in categorical columns with "Unknown"
cols_cat = ["type_local", "nature_culture"]
for col in cols_cat:
    df_data[col] = df_data[col].fillna("Unknown")

In [81]:
# Convert categorical variables into dummy/indicator variables (One-Hot Encoding)
df_data = pd.get_dummies(df_data, columns=["type_local", "nature_culture"], drop_first=True)

In [82]:
# Display the first 10 rows after cleaning and transformation
df_data.head(10)

,date_mutation,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,code_commune,nom_commune,...,nature_culture_prés plantes,nature_culture_pâtures,nature_culture_sols,nature_culture_taillis simples,nature_culture_taillis sous futaie,nature_culture_terrains a bâtir,nature_culture_terrains d'agrément,nature_culture_terres,nature_culture_vergers,nature_culture_vignes
0,2022-02-04,Vente,420000.0,NaN,NaN,LA CADISCIE,B009,81220.0,81299,Teyssode,...,False,False,False,False,False,False,False,True,False,False
1,2022-01-28,Vente,1500.0,NaN,NaN,SERRO,B168,81260.0,81037,Brassac,...,False,False,False,False,False,False,False,False,False,False
2,2022-01-28,Vente,105000.0,NaN,NaN,PUECH ROUGE,B026,81170.0,81148,Loubers,...,False,False,False,False,False,False,False,False,False,False
3,2022-02-10,Vente,5000.0,NaN,NaN,FOURMENTAL,B029,81300.0,81187,Moulayrès,...,False,False,False,False,False,False,False,True,False,False
4,2022-02-10,Vente,5000.0,NaN,NaN,FOURMENTAL,B029,81300.0,81187,Moulayrès,...,False,False,False,False,False,False,False,True,False,False
5,2022-02-15,Vente,31500.0,NaN,NaN,MASCALE BAS,B081,81800.0,81106,Grazac,...,False,False,True,False,False,False,False,False,False,False
6,2022-02-15,Vente,31500.0,NaN,NaN,MASCALE BAS,B081,81800.0,81106,Grazac,...,False,False,False,False,False,False,False,False,False,False
7,2022-02-15,Vente,31500.0,NaN,NaN,MASCALE BAS,B081,81800.0,81106,Grazac,...,False,False,True,False,False,False,False,False,False,False
8,2022-02-15,Vente,31500.0,NaN,NaN,MASCALE BAS,B081,81800.0,81106,Grazac,...,False,False,True,False,False,False,False,False,False,False
9,2022-02-11,Vente,173000.0,NaN,NaN,BAURUNE,B003,81120.0,81287,Sieurac,...,False,False,False,False,False,False,False,True,False,False

In [83]:
# Display dataset information after cleaning and transformation
df_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 145408 entries, 0 to 146214
Data columns (total 47 columns):
 #   Column                                               Non-Null Count   Dtype
---  ------                                               --------------   -----
 0   date_mutation                                        145408 non-null  object
 1   nature_mutation                                      145408 non-null  object
 2   valeur_fonciere                                      145408 non-null  float64
 3   adresse_numero                                       67663 non-null   object
 4   adresse_suffixe                                      2925 non-null    object
 5   adresse_nom_voie                                     145407 non-null  object
 6   adresse_code_voie                                    145408 non-null  object
 7   code_postal                                          145408 non-null  object
 8   code_commune                                         145408 non-null  object
 9   nom_commune                                          145408 non-null  object
 10  code_departement                                     145408 non-null  object
 11  nombre_lots                                          145408 non-null  object
 12  code_type_local                                      63520 non-null   object
 13  surface_reelle_bati                                  145408 non-null  float64
 14  nombre_pieces_principales                            145408 non-null  float64
 15  code_nature_culture                                  133952 non-null  object
 16  code_nature_culture_speciale                         20428 non-null   object
 17  nature_culture_speciale                              20428 non-null   object
 18  surface_terrain                                      145408 non-null  float64
 19  longitude                                            144347 non-null  object
 20  latitude                                             144347 non-null  object
 21  section_prefixe                                      145408 non-null  object
 22  type_local_Dépendance                                145408 non-null  bool
 23  type_local_Local industriel. commercial ou assimilé  145408 non-null  bool
 24  type_local_Maison                                    145408 non-null  bool
 25  type_local_Unknown                                   145408 non-null  bool
 26  nature_culture_bois                                  145408 non-null  bool
 27  nature_culture_carrières                             145408 non-null  bool
 28  nature_culture_chemin de fer                         145408 non-null  bool
 29  nature_culture_eaux                                  145408 non-null  bool
 30  nature_culture_futaies feuillues                     145408 non-null  bool
 31  nature_culture_futaies résineuses                    145408 non-null  bool
 32  nature_culture_jardins                               145408 non-null  bool
 33  nature_culture_landes                                145408 non-null  bool
 34  nature_culture_pacages                               145408 non-null  bool
 35  nature_culture_peupleraies                           145408 non-null  bool
 36  nature_culture_prés                                  145408 non-null  bool
 37  nature_culture_prés plantes                          145408 non-null  bool
 38  nature_culture_pâtures                               145408 non-null  bool
 39  nature_culture_sols                                  145408 non-null  bool
 40  nature_culture_taillis simples                       145408 non-null  bool
 41  nature_culture_taillis sous futaie                   145408 non-null  bool
 42  nature_culture_terrains a bâtir                      145408 non-null  bool
 43  nature_culture_terrains d'agrément                   145408 non-null  bool
 44  nature_culture_terres                                145408 non-null  bool
 45  nature_culture_vergers                               145408 non-null  bool
 46  nature_culture_vignes                                145408 non-null  bool
dtypes: bool(25), float64(4), object(18)
memory usage: 29.0+ MB